*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}
.home-list{
    width: 260px;
    height: 100vh;
    background-color: rgb(91, 180, 196);
    float: left;
    box-shadow: 10px 5px 135px -73px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 10px 5px 135px -73px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 10px 5px 135px -73px rgba(0,0,0,0.75) inset;
}
.home-list ul{
    bottom: 30%;
    text-align: left;
    list-style: none;
    margin-top: 90px;
}
.home-list ul li:hover{
    background-color: rgb(72, 132, 143);
}
.home-list a{
    color: aliceblue;
}
.home-list ul li{
    color: aliceblue;
    padding: 20px;
    cursor: pointer;
}
.home-body{
    float: right;
    width: 92%;
}
.home-body ul{
    display: flex;
    padding: 20px;
}
.home-body ul li{
    list-style: none;
    padding: 40px;
    font-size: 20px;
    cursor: pointer;
}
.home-name{
    color: rgb(91, 180, 196);
}
.home-desc{
    float: left;
    width: 40%;
}
.home-title{
    font-size: 60px;
    padding: 20px;
    margin-left: 40px;
}
.home-tag{
    color: rgb(91, 180, 196);
    padding: 10px;
    font-size: 30px;
    margin-left: 50px;
}
.home-body{
    position: fixed;
    left: 120px;
}
.home-desc p{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 50px;
}
.dash-title {
    position: absolute;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    bottom: 30px;
    width: 180px;
    font-size: 20px;
}
.fa-solid  {
    color: rgb(131, 55, 55);
    cursor: pointer;
}
button {
	border-radius: 20px;
	border: 1px solid rgb(179, 71, 77);
	background-color: rgb(179, 71, 77);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
}
a {
    text-decoration: none;
}