<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fe1c0aab7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>medico.av</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}">
</head>
<body>
    <div class="home-list">
        <div class="bars"></div>
        <ul>
            <li><i class="fas fa-user-alt"></i> &nbsp; Profile</li>
            <li><i class="fas fa-heartbeat"></i> &nbsp; Check Symptoms</li>
            <li><i class="fas fa-file-medical-alt"></i> &nbsp; Symptom History</li>
            <li><i class="fas fa-syringe"></i> &nbsp; Tools</li>
            <li><i class="fas fa-user-tie"></i> &nbsp; Doctors</li>
            <li><i class="fas fa-hospital"></i> &nbsp; Hospitals</li>
        </ul>
        <div class="dash-title">
            {% if user.is_authenticated %}
            <i class="fas fa-user"></i> 
            <div>
                <p>{{ user.first_name }} {{ user.last_name }}</p> 
            </div>
            <a href="{% url 'logoutpage' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
    
            {% else %}
            <button><a href="{% url 'loginpage' %}">Login</a></button>
             {% endif %}
        </div>
    </div>
</body>
</html>