<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medico.av</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}">
</head>
<body>
    <div class="home-list">
        <div class="title">medico.av</div>
        <div class="bars"><i class="fa fa-3x fa-bars"></i></div>
        <ul>
            <li>Profile</li>
            <li>Check Symptoms</li>
            <li>Symptom History</li>
            <li>Tools</li>
            <li>Doctors</li>
            <li>Hospitals</li>
        </ul>
    </div>
</body>
</html>