<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medico.av</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
       <div class="login-form">
           <h1>Welcome Back!</h1>
           <p>Please Enter your credentials to login</p>
           <input type="email" placeholder="Email" />
           <input type="password" placeholder="Password" />
           <button><a href="{% url 'dashpage' %}">Login</a></button>
           <p>Don't have an account? <a href="{% url 'signuppage' %}">Sign Up</a></p>
       </div>
    </div>
</body>
</html>