{% extends 'dash.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fe1c0aab7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>medico.av</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>
<body>
    {% block content %}
    <div class="profile-container" style="position: relative; padding: 60px; margin-left: 300px; font-family: 'Fredoka', sans-serif;">
      <div class="profile-title" style="margin-top: 40px; font-size: 28px; padding-bottom: 40px;">
        <h3>Welcome to our profile page</h3>
        <p style="color: rgb(91, 180, 196); font-size: 20px; margin-top: 40px;">Here you can view all the details of your profile associated with this application.<br/> You can edit your details from this page itself.</p>
      </div>
        <div style="display: flex;" class="profile-image-container">
          <div style="float: left;">
            <div class="head" style="flex: 50%; margin-bottom: 30px;"><label style="padding: 5px;">Username:<br /><input style="padding: 10px; width: 300px; font-size: 16px;" value="{{ user.username }}" readonly /> </label></div>
            <div class="head" style="flex: 50%; margin-bottom: 30px;"><label style="padding: 5px;">First Name:<br /><input style="padding: 10px; width: 300px; font-size: 16px;" value="{{ user.first_name }}" readonly /> </label></div>
            <div class="head" style="flex: 50%; margin-bottom: 30px;"><label style="padding: 5px;">Last Name:<br /><input style="padding: 10px; width: 300px; font-size: 16px;" value="{{ user.last_name }}" readonly /> </label></div>
            <div class="head" style="flex: 50%; margin-bottom: 30px;"><label style="padding: 5px;">Email:<br /><input style="padding: 10px; width: 300px; font-size: 16px;" value="{{ user.email }}" readonly /> </label></div>
          </div>
          <div style="float: right;">
            <img style="width: 75%; position: relative; margin-left: 100px;" src="https://img.freepik.com/free-vector/recruit-agent-analyzing-candidates_74855-4565.jpg?t=st=1651290968~exp=1651291568~hmac=39fbfb57161333c37e4b271723ee13677435ea40735e022183d5a45def241218&w=1380" alt="profile image">
          </div>
        </div>
        <a href="{% url 'editprofilepage' %}" style="margin-left: 60px;"><button>Edit</button></a>
    </div>
  {% endblock content %}
</body>
</html>